body {
    background: #f8f9fb;
    color: #78add8;
    font-family: Arial, Helvetica, sans-serif
}

header h1 {
    letter-spacing: 0.2px;
}

.bg-primary {
    background-color: #78add8 !important;
}

.slogan {
    color: #e3f4ff;
    font-style: italic;
    font-weight: 500;
}

.navbar-banner {
    padding: 1rem 0;
}



.navbar-banner {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 4px;
    display: block;
}


#productsRow {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}


#productsRow>.col-sm-6,
#productsRow>.col-md-4,
#productsRow>.col-lg-3 {
    display: flex;
    flex: 1 1 0;
}

#productsRow>.col-sm-6>.card,
#productsRow>.col-md-4>.card,
#productsRow>.col-lg-3>.card {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}



.btn-add {
    background-color: #78add8;
    border-color: #78add8;
    color: #fff;
}

.btn-add:hover {
    background-color: #5f9ecf;
    border-color: #5f9ecf;
}


.btn-outline-primary {
    color: #78add8;
    border-color: #78add8;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
    background-color: #78add8;
    color: #fff;
    border-color: #78add8;
}

.btn-outline-primary:active {
    background-color: #5f9ecf;
    border-color: #5f9ecf;
    color: #fff;
}


.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card .btn {
    font-size: 0.9rem;
}


.offcanvas .d-flex>div:last-child {
    font-weight: 600;
}

.form-label::after {
    content: " *";
    color: #78add8;
}

.btn-primary {
    background-color: #78add8;
    border-color: #78add8;
    color: #fff;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #5f9ecf;
    border-color: #5f9ecf;
    color: #fff;
}

.btn-primary:active {
    background-color: #4f8fbe;
    border-color: #4f8fbe;
}


.btn-success {
    background-color: #78add8;
    border-color: #78add8;
    color: #fff;
}

.btn-success:hover,
.btn-success:focus {
    background-color: #5f9ecf;
    border-color: #5f9ecf;
    color: #fff;
}

.btn-success:active {
    background-color: #4f8fbe;
    border-color: #4f8fbe;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 16px;
    color: #4f8fbe;
}